// ==========================================================================
// GEAGO自动生成ORM代码，无需手动修改，重新生成会自动覆盖.
// 生成日期：{{.table.CreateTime}}
// 生成路径: app/model/{{.table.TableName}}.go
// 生成人：{{.table.FunctionAuthor}}
// ==========================================================================

package model

import (
    "gea/app/model/internal"
)

// {{.table.TableName | CamelString}} is the golang structure for table {{.table.TableName}}.
type {{.table.TableName | CamelString}} internal.{{.table.TableName | CamelString}}

// Fill with you ideas below.